body {
  background-color: indianred;
}

h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .alpaca-entity {

} */

#alpaca-image {

  
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 100px;

}

.eye-btn {
  background: lightsalmon;
}

#alpaca-head {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 40px;
  z-index: 1;
  bottom: 10px;
}

#alpaca-body::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 50px;;
  background-color: gray;
  border-radius: 0% 0% 100% 100%;
  opacity: 100%;
  left: 11px;
}

#alpaca-body {
  background: rgb(201, 194, 194);
  width: 200px;
  height: 120px;
  position: relative;
  border-radius: 60%;
  left: 50px;
  bottom: 30px;
  z-index: 0
}

#left-eye {
  width: 20px;
  height: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  border-radius: 50%;
}

.eye-black {
  background: black;
}

.eye-brown {
  background: rgb(66, 43, 3);
}

.eye-blue {
  background: rgb(45, 106, 205);
}


#right-eye {
  width: 20px;
  height: 20px;
  position: relative;
  left: 60px;
  border-radius: 50%;
}

/* Test 5 */